[submodule "download/coursera"]
	path = download/coursera
	url = git@github.com:coursera-dl/coursera.git
[submodule "download/youtube-dl"]
	path = download/youtube-dl
	url = git@github.com:rg3/youtube-dl.git
[submodule "paper/scholar.py"]
	path = paper/scholar.py
	url = git@github.com:ckreibich/scholar.py.git
[submodule "external/datasciencemasters/go"]
	path = external/datasciencemasters/go
	url = git@github.com:datasciencemasters/go.git
[submodule "external/datasciencemasters/data"]
	path = external/datasciencemasters/data
	url = git@github.com:datasciencemasters/data.git
[submodule "external/awesome-machine-learning"]
	path = external/awesome-machine-learning
	url = git@github.com:josephmisiti/awesome-machine-learning.git
[submodule "external/awesome-awesomeness"]
	path = external/awesome-awesomeness
	url = git@github.com:bayandin/awesome-awesomeness.git
