[submodule "download/coursera"]
	path = download/coursera
	url = git@github.com:coursera-dl/coursera.git
[submodule "download/youtube-dl"]
	path = download/youtube-dl
	url = git@github.com:rg3/youtube-dl.git
[submodule "paper/scholar.py"]
	path = paper/scholar.py
	url = git@github.com:ckreibich/scholar.py.git
[submodule "external/datasciencemasters/go"]
	path = external/datasciencemasters/go
	url = git@github.com:datasciencemasters/go.git
[submodule "external/datasciencemasters/data"]
	path = external/datasciencemasters/data
	url = git@github.com:datasciencemasters/data.git
[submodule "external/awesome-machine-learning"]
	path = external/awesome-machine-learning
	url = git@github.com:josephmisiti/awesome-machine-learning.git
[submodule "external/awesome-awesomeness"]
	path = external/awesome-awesomeness
	url = git@github.com:bayandin/awesome-awesomeness.git
[submodule "paper/nipspreview"]
	path = paper/nipspreview
	url = git@github.com:karpathy/nipspreview.git
[submodule "paper/scholaroctopus"]
	path = paper/scholaroctopus
	url = git@github.com:karpathy/scholaroctopus.git
[submodule "paper/cvpr2013papers"]
	path = paper/cvpr2013papers
	url = https://github.com/colincsl/cvpr2013papers.git
[submodule "paper/iccv2013papers"]
	path = paper/iccv2013papers
	url = https://github.com/colincsl/iccv2013papers.git
[submodule "paper/icml2013preview"]
	path = paper/icml2013preview
	url = https://github.com/benhamner/icml2013preview.git
[submodule "external/Big-Data-Resources"]
	path = external/Big-Data-Resources
	url = https://github.com/Flowerowl/Big-Data-Resources.git
[submodule "external/awesome-deep-learning"]
	path = external/awesome-deep-learning
	url = https://github.com/ChristosChristofidis/awesome-deep-learning.git
[submodule "external/awesome"]
	path = external/awesome
	url = https://github.com/sindresorhus/awesome
[submodule "external/awesome-courses"]
	path = external/awesome-courses
	url = https://github.com/prakhar1989/awesome-courses
[submodule "external/awesome-public-datasets"]
	path = external/awesome-public-datasets
	url = https://github.com/caesar0301/awesome-public-datasets
[submodule "external/awesome-bigdata"]
	path = external/awesome-bigdata
	url = https://github.com/onurakpolat/awesome-bigdata
[submodule "external/awesome-datascience"]
	path = external/awesome-datascience
	url = https://github.com/okulbilisim/awesome-datascience
[submodule "external/awesome-artificial-intelligence"]
	path = external/awesome-artificial-intelligence
	url = https://github.com/owainlewis/awesome-artificial-intelligence
[submodule "external/awesome-algorithms"]
	path = external/awesome-algorithms
	url = https://github.com/tayllan/awesome-algorithms
[submodule "external/awesome-talks"]
	path = external/awesome-talks
	url = https://github.com/JanVanRyswyck/awesome-talks
[submodule "external/awesome-computer-vision"]
	path = external/awesome-computer-vision
	url = https://github.com/jbhuang0604/awesome-computer-vision
[submodule "external/Qix"]
	path = external/Qix
	url = https://github.com/ty4z2008/Qix.git
[submodule "download/metacourse"]
	path = download/metacourse
	url = https://github.com/ouyangzhiping/metacourse.git
[submodule "paper/researchlei"]
	path = paper/researchlei
	url = https://github.com/karpathy/researchlei.git
[submodule "paper/arxiv-sanity-preserver"]
	path = paper/arxiv-sanity-preserver
	url = https://github.com/karpathy/arxiv-sanity-preserver.git
