backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.3.2
boto==2.38.0
bz2file==0.98
certifi==2018.1.18
chardet==3.0.4
coverage==3.7.1
decorator==3.4.0
facebook-sdk==2.0.0
feedparser==5.2.1
Flask==0.10.1
future==0.16.0
gensim==0.12.1
gevent==1.1.1
google-api-python-client==1.4.0
greenlet==0.4.9
gunicorn==19.6.0
html5lib==1.0b3
httplib2==0.9
idna==2.6
igdb-api-python==1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mock==1.0.1
networkx==1.9.1
nltk==3.0.2
nose==1.3.4
numpy==1.9.2
oauth2client==1.4.7
oauthlib==2.0.6
pafy==0.5.0
pdfminer==20140328
prettytable==0.7.2
pyasn1==0.1.7
pyasn1-modules==0.0.5
python-linkedin==4.1
python-twitter==3.4
rauth==0.7.2
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.7.0
rsa==3.1.4
scikit-learn==0.17.1
scipy==0.16.0
simplejson==3.6.5
six==1.9.0
sklearn==0.0
slackclient==1.0.4
smart-open==1.2.1
uritemplate==0.6
urllib3==1.22
websocket-client==0.40.0
Werkzeug==0.11.9
wikipedia==1.4.0
xmltodict==0.10.2
youtube-dl==2015.1.10.2
