.ref {
   width: 650px;
   margin: 5px;
}
ol {
   color: #ccc;
   list-style-type: none;
}
ol li {
   position: relative;
   font: bold italic 16px/1.5 Helvetica, Verdana, sans-serif;
   margin-bottom: 0px;
}
li p {
   font: 14px/1.5 Helvetica, sans-serif;
   padding-left: 40px;
   color: #555;
}

ol li div {
   position: relative;
   font: 13px/1.5 Helvetica, Verdana, sans-serif;
   margin-bottom: 0px;
}

span {
   font: bold italic;
   position: absolute;
}
