/*.ref {
   width: 500px;
   margin: 5px;
}*/
ol {
   color: #ccc;
   list-style-type: none;
}
ol li {
   position: relative;
   font: bold italic 16px/1.5 Helvetica, Verdana, sans-serif;
   margin-bottom: 0px;
}
li p {
   font: 14px/1.5 Helvetica, sans-serif;
   padding-left: 40px;
   color: #555;
}
li a {
   font: 14px/1.5 Helvetica, sans-serif;
   color: #555;
}

ol li div {
   position: relative;
   font: 13px/1.5 Helvetica, Verdana, sans-serif;
   margin-bottom: 0px;
   color: #555;
}

span {
   font: bold italic;
   position: absolute;
}
a {
   color:#585858;
   font-weight:Normal; /*CSS字体效果 普通 可以改成bold粗体 如果去除此行那么默认是不显示下划线的*/
   text-decoration:none; /*CSS下划线效果：无下划线*/
}

a:hover {
   text-decoration:underline; /*CSS下划线效果：无下划线*/
}
