/*.ref {
   width: 500px;
   margin: 5px;
}*/

.desc {
   padding-left: 45px;
}

ol {
   color: #ccc;
   list-style-type: none;
}
ol li {
   position: relative;
   font: bold italic 16px/1.5 Helvetica, Verdana, sans-serif;
   margin-bottom: 0px;
}
li p {
   font: 14px/1.5 Helvetica, sans-serif;
   padding-left: 42px;
   color: #555;
}
li a {
   font: 14px/1.5 Helvetica, sans-serif;
   color: #555;
}

ol li div {
   position: relative;
   font: 13px/1.5 Helvetica, Verdana, sans-serif;
   margin-bottom: 0px;
   color: #555;
}

span {
   font: bold italic;
   position: absolute;
}
a {
   color:#585858;
   font-weight:Normal; /*CSS字体效果 普通 可以改成bold粗体 如果去除此行那么默认是不显示下划线的*/
   text-decoration:none; /*CSS下划线效果：无下划线*/
}

a:hover {
   text-decoration:underline; /*CSS下划线效果：无下划线*/
}

/*max-width:276px*/
.popover{position:absolute;top:0;left:0;z-index:1060;display:none;max-width: 100%;height:200px;padding:1px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);line-break:auto}.popover.top{margin-top:-10px}.popover.right{margin-left:10px}.popover.bottom{margin-top:10px}.popover.left{margin-left:-10px}.popover-title{padding:8px 14px;margin:0;font-size:14px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}.popover-content{padding:9px 14px}.popover>.arrow,.popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}.popover>.arrow{border-width:11px}.popover>.arrow:after{content:"";border-width:10px}.popover.top>.arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,.25);border-bottom-width:0}.popover.top>.arrow:after{bottom:1px;margin-left:-10px;content:" ";border-top-color:#fff;border-bottom-width:0}.popover.right>.arrow{top:50%;left:-11px;margin-top:-11px;border-right-color:#999;border-right-color:rgba(0,0,0,.25);border-left-width:0}.popover.right>.arrow:after{bottom:-10px;left:1px;content:" ";border-right-color:#fff;border-left-width:0}.popover.bottom>.arrow{top:-11px;left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,.25)}.popover.bottom>.arrow:after{top:1px;margin-left:-10px;content:" ";border-top-width:0;border-bottom-color:#fff}.popover.left>.arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,.25)}.popover.left>.arrow:after{right:1px;bottom:-10px;content:" ";border-right-width:0;border-left-color:#fff}

textarea {
   border: 3px solid #cccccc;
   padding: 5px;
   font-family: Tahoma, sans-serif;
   background-position: bottom right;
   background-repeat: no-repeat;
}
